<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/equipmenttype">Типы оборудования</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/employee">Сотрудники</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/manufacturer">Производители</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/equipment">Оборудование</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/issue">Выдача оборудования</a>
                    </li>

                </ul>
<!--                <ul th:action="@{/logout}" method="post" class="navbar-nav px-3">
                    <li  class="nav-item text-nowrap">
                        <a class="nav-link" value="Sign Out">Sign out</a>
                    </li>
                </ul>-->
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Вход/Выход"/>
                </form>
            </div>
        </div>
    </nav>
</div>