<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Выдача оборудования</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5 mb-5">
    <h1>Редактирование типа оборудования</h1>
    <div th:each="el : ${equipment}" >
        <form method="post">
            <input type="text" th:value="${el.name}" name="name" placeholder="Введите наименование" class="form-control"><br>
            <input type="text" th:value="${el.serial_number}" name="serial_number" placeholder="Введите серийный номер" class="form-control"><br>
            <select class="form-control" name="equipmentTypeId" id="equipmentTypeId">
                <option disabled selected value="1">Выберите тип оборудования</option>
                <option th:each="equipment : ${typeIds}" th:value="${equipment.getId()}" th:text="${equipment.getName()}"></option>
            </select><br>
            <select class="form-control" name="manufacturerId" id="manufacturerId">
                <option disabled selected value="1">Выберите производителя</option>
                <option th:each="equipment : ${manIds}" th:value="${equipment.getId()}" th:text="${equipment.getName()}"></option>
            </select><br>
            <input type="date" th:value="${el.start_date}" name="start_date" placeholder="Введите дату ввода в эксплуатацию" class="form-control"><br>
            <input type="date" th:value="${el.exp_date}" name="exp_date" placeholder="Введите срок эксплуатации" class="form-control"><br>
            <textarea name="note" placeholder="Примечание" class="form-control"></textarea><br>
            <button type="submit" class="btn btn-success">Обновить</button>
        </form>
    </div>
</div>
</body>
</html>