<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Выдача оборудования</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5 mb-5">
    <h1>Добавление выдачи</h1>
    <form action="/issue/add" method="post">
        <input type="text" name="id" placeholder="Введите " class="form-control"><br>
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>
</div>
</body>
</html>