<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Выдача оборудования</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5 mb-5">
    <form th:action="@{/reports}" method="post" th:object="${employee}">
        <h1>Выберите сотрудника для составления отчета</h1>
        <select class="form-control" th:field="*{id}">
            <option disabled selected value="1">Выберите сотрудника</option>
            <option th:each="dropDownItem : ${empIds}" th:value="${dropDownItem.getId()}" th:text="${dropDownItem.getName()}" id="employee"></option>
        </select><br>

        <button type="submit" class="btn btn-success">Выдать отчет</button>
    </form>
</div>
</body>
</html>